<div class="container mt-3 text-center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Novedades en Películas</h1>
      <p class="lead">Encuentra los mejores titulos que hay actualmente en cartelera y preparate para la diversion.</p>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row row-cols-1 row-cols-md-3 bg-primary" >
      <app-pelicula-card *ngFor="let peliculaPadre of peliculas;let i = index;"
                          (peliculaSeleccionada)="verDetalle($event)"
                         [peliculaHijo]="peliculaPadre">
      </app-pelicula-card>
    </div> -->

    <!-- <div class="row row-cols-1 row-cols-md-3 bg-success mt-5" >
      <app-pelicula-card *ngFor="let peliculaPadre of peliculasInfantiles;let i = index;"
                         (peliculaSeleccionada)="verDetalle($event)"
                         [peliculaHijo]="peliculaPadre"
                         [peliculaHijo]=" peliculaPadre | slice:0:6"><-- Solo enviar 6 elemetos del array ->
      </app-pelicula-card>
    </div> -->

    <h3>En Cartelera</h3>
    <hr>
    <div class="row animated fadeIn">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 *ngIf="peliculas[0]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[0] | peliculaImg:true) +')' }"
                 (click)="verDetalle(peliculas[0]['id'])">
                <p class="pic-titulo">{{ peliculas[0]['title']}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculas[1]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[1] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculas[1]['id'])">
                 <p class="pic-titulo">{{ peliculas[1]['title'] }}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculas[2]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[2] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculas[2]['id'])">
                 <p class="pic-titulo">{{ peliculas[2]['title'] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculas[3]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[3] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculas[3]['id'])">
                 <p class="pic-titulo">{{ peliculas[3]['title'] }}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculas[4]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[4] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculas[4]['id'])">
                 <p class="pic-titulo">{{ peliculas[4]['title'] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 *ngIf="peliculas[5]"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[5] | peliculaImg:true) +')' }"
                 (click)="verDetalle(peliculas[5]['id'])">
                 <p class="pic-titulo">{{ peliculas[5]['title'] }}</p>
            </div>
          </div>
      </div>
    </div>

    <br><br>

    <h3>Infantiles</h3>
    <hr>
    <div class="row mb-5 animated fadeIn" *ngIf="peliculasInfantiles">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 *ngIf="peliculasInfantiles[0]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[0] | peliculaImg:true) +')' }"
                 (click)="verDetalle(peliculasInfantiles[0]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[0]['title'] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculasInfantiles[1]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[1] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculasInfantiles[1]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[1]['title'] }}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculasInfantiles[2]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[2] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculasInfantiles[2]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[2]['title'] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculasInfantiles[3]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[3] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculasInfantiles[3]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[3]['title'] }}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 *ngIf="peliculasInfantiles[4]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[4] | peliculaImg) + ')' }"
                 (click)="verDetalle(peliculasInfantiles[4]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[4]['title'] }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 *ngIf="peliculasInfantiles[5]"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[5] | peliculaImg:true) +')' }"
                 (click)="verDetalle(peliculasInfantiles[5]['id'])">
                 <p class="pic-titulo">{{ peliculasInfantiles[5]['title'] }}</p>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
