<style media="screen">
  body{
  padding-bottom: 200px;
}

.main-container{
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero{
  cursor: pointer;
}


.div-pic-1{
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-titulo{
  position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.div-pic-2{
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

</style>
<div class="container mt-3 text-center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Novedades en Películas</h1>
      <p class="lead">Encuentra los mejores titulos que hay actualmente en cartelera y preparate para la diversion.</p>
    </div>
  </div>
  <div class="container">
    <!-- <div class="row row-cols-1 row-cols-md-3 bg-primary" >
      <app-pelicula-card *ngFor="let peliculaPadre of peliculas;let i = index;"
                          (peliculaSeleccionada)="verDetalle($event)"
                         [peliculaHijo]="peliculaPadre">
      </app-pelicula-card>
    </div> -->

    <!-- <div class="row row-cols-1 row-cols-md-3 bg-success mt-5" >
      <app-pelicula-card *ngFor="let peliculaPadre of peliculasInfantiles;let i = index;"
                         (peliculaSeleccionada)="verDetalle($event)"
                         [peliculaHijo]="peliculaPadre">
      </app-pelicula-card>
    </div> -->

    <h3>En Cartelera</h3>
    <hr>
    <div class="row" *ngIf="peliculas">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[0] | peliculaImg) +')' }">

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[1] | peliculaImg) + ')' }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[2] | peliculaImg) + ')' }">
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[3] | peliculaImg) + ')' }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[4] | peliculaImg) + ')' }">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculas[5] | peliculaImg) +')' }">

            </div>
          </div>
      </div>
    </div>

    <br><br>

    <h3>Infantiles</h3>
    <hr>
    <div class="row mb-5" *ngIf="peliculasInfantiles">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[0] | peliculaImg) +')' }">

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[1] | peliculaImg) + ')' }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[2] | peliculaImg) + ')' }">
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[3] | peliculaImg) + ')' }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[4] | peliculaImg) + ')' }">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 div-pic-1 puntero"
                 [ngStyle]="{'background-image': 'url('+ (peliculasInfantiles[5] | peliculaImg) +')' }">

            </div>
          </div>
      </div>
    </div>

  </div>
</div>
