<div class="container mt-3">
  <h2>Pelicula: <b>{{ pelicula.title }}</b></h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="https://image.tmdb.org/t/p/w400/{{pelicula.poster_path}}" >
      <br><br>
      <button type="button" class="btn btn-outline-danger" (click)="regresar()">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>

    <div class="col-md-8">
      <p *ngIf="pelicula.tagline" class="text-center"><i>&quot;{{ pelicula.tagline }}&quot;</i></p>
      <h3>Sinopsis:</h3>
      <br>
      <p>
        {{ pelicula.overview }}
      </p>
    </div>

  </div>
</div>
